.body{
  overflow-y: hidden;
  display: grid;
  place-items: center;
  background-color: gray;
}
.base img{
    height: 430px;
    width: 700px;
  }
.keybord{
    height:430px;
    width: 1440px;
    background-color: rgb(235, 235, 235);
    border-radius: 25px;
    margin-top: 5px;
  }
table,td,tr{
    border-collapse: collapse;
  }
button{
      width: 7rem;
      height: 7rem;
      margin:15px 15px 15px 15px;
      border-radius: 25px;
      background-color: white;
  }
   .results{
    background-color: gray;
    display: flex; 
    align-items: center;
    width: max-content; 
    height: max-content;
    border: 2px solid black;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    /* margin-left: 46%; */
    /* align-self: center; */
    
   }  
  .results h1{
    margin: 10px;
  }
  .base{
    border: 2px solid black;
    border-radius: 25px;
  }




  